@model Exception
@{ViewBag.Title = "Error";} 
<div class="row">
    <div class="col-xs-10 no-float center-block">
        <div class="alert alert-danger">
            <div class="row text-center text-capitalize">
                <h2>Error Generico</h2>
            </div>
            @Model
        </div>
        <div class="alert alert-info text-center">
            Para más información contacte con el administrador del sistema
        </div>
    </div>
</div>
