@{ViewBag.Title = "ErrorPermiso";}

<div class="row">
    <div class="col-xs-10 no-float center-block">
        <div class="alert alert-danger">
            <div class="row text-center text-capitalize">
                <h2>Error permisos</h2>
            </div>
            Usted no cuenta con los permisos adecuados para acceder a la opción anterior, contacte con el administrador del
            sistema
        </div>
        <div class="alert alert-info text-center">
            Para más información contacte con el administrador del sistema
        </div>
    </div>
</div>
